@import "../../assets/scss/_define";
@import "../../assets/scss/common";

body{
    min-height: j(480);
    background-color: #000;
}
.bg{
    background: url("../../assets/images/city.png") no-repeat bottom center;
    background-size: 150% auto;
}
.bg,
.canvas{
    @extend %pa;
    @extend %w100;
    @extend %h100;
    @extend %t0;
    @extend %l0;
}
.moon{
    @extend %pa;
    top: j(-100);
    right: j(-100);
    width: j(200);
    height: j(200);
    background: url("../../assets/images/moon.png") no-repeat center;
    background-size: contain;
    i{
        @extend %db;
        @extend %pa;
        @extend %t50;
        @extend %l50;
        margin-top: j(-90);
        margin-left: j(-90);
        width: j(180);
        height: j(180);
        border-radius: 50%;
        box-shadow: 0 0 j(300) j(20) #ffe925;
    }
}
.header{
    @extend %pr;
    @extend %df;
    flex-direction: column;
    align-items: center;
    padding-top: j(40);
}
.logo{
    @extend %db;
    width: j(156);
    height: j(63);
    background: url("../../assets/images/logo.png") no-repeat;
    background-size: contain;
}
.prompt{
    margin-top: j(16);
    font-size: j(14);
    color: #fff;
    strong{
        @extend %fwn;
        @extend %dib;
        margin: 0 j(5);
        font-size: j(16);
        color: #cc3346;
    }
}

.from-wrap{
    @extend %pr;
    margin-top: j(30);
}
.from-item{
    @extend %df;
    @extend %pr;
    align-items: center;
    height: j(50);
    //margin: 0 j(20);
    //border-bottom: 1px solid #f2f2f2;
    &:after{
        content: '';
        @extend %pa;
        bottom: 0;
        left: j(20);
        right: j(20);
        height: 1px;
        background-color: #f2f2f2;
    }
}
.from-label{
    @extend %bsb;
    font-size: j(16);
    color: #fff;
    width: j(100);
    padding-left: j(20);
}
.from-value{
    flex: 1;
    height: j(30);
    input{
        @extend %db;
        @extend %w100;
        @extend %h100;
        @extend %tar;
        @extend %bsb;
        border: none;
        font-size: j(16);
        color: #fff;
        padding-right: j(20);
        background-color: transparent;
    }
}
input::-webkit-input-placeholder{
    color:#DEDEDE;
}
.from-code{
    @extend %df;
    @extend %bsb;
    border: 1px solid #cc3346;
    width: j(70);
    height: j(36);
    border-radius: j(8);
    justify-content: center;
    align-items: center;
    background-color: #cc3346;
    margin-right: j(20);
    span{
        font-size: j(14);
        color: #fff;
    }
}
.from-code-disabled{
    border-color: #ddd;
    background-color: rgba(255,255,255,0.2);
    span{
        color: #999;
    }
}

.from-button{
    @extend %df;
    justify-content: center;
    align-items: center;
    margin: j(50) j(16) 0;
    background-color: #cc3346;
    border-radius: j(8);
    height: j(48);
    span{
        font-size: j(18);
        color: #fff;
    }
}

.footer{
    @extend %pa;
    @extend %df;
    align-items: center;
    left: 0;
    right: 0;
    bottom: j(40);
    justify-content: center;
    span,
    .icon{
        @extend %db;
    }
    span{
        font-size: j(12);
        color: #fff;
    }
}
.icon{
    width: j(50);
    height: j(20);
    background: url("../../assets/images/logo.png") no-repeat;
    background-size: contain;
    margin: 0 j(5);
}

.hidden{
    @extend %dn;
}

.prize-wrap {
    @extend %pr;
    margin: j(20) auto;
    width: j(330);
    height: j(360);
    animation: 5s translate linear infinite;
    &.paused{
        animation-play-state:paused;
        -webkit-animation-play-state:paused;
    }
}
.prize-bg{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    background: url("../../assets/images/bg_1.png") no-repeat;
    background-size: contain;
}
.prize-btn{
    @extend %pa;
    @extend %l50;
    margin-left: j(-44);
    top: j(116);
    width: j(88);
    height: j(88);
    background: url("../../assets/images/img_button.png") no-repeat;
    background-size: contain;
    animation: 2s seconddiv linear infinite;
}
.prize-icon{
    @extend %pa;
    @extend %l50;
    top: j(92);
    left: j(96);
    width: j(52);
    height: j(52);
    background: url("../../assets/images/img_bling.png") no-repeat;
    background-size: contain;
    animation: 2s seconddiv linear infinite;
}
@keyframes seconddiv{
    0% {transform: scale(1);}
    10% {transform: scale(1.2);}
    25% {transform: scale(1);}
    35% {transform: scale(1.2);}
    50% {transform: scale(1);}
    100% {transform: scale(1);}
}

@keyframes scaleIn{
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(2);
        opacity: 1;
    }
}


@keyframes translate{
    0% {transform: translate3d(0,0,0);}
    25% {transform: translate3d(-10%, -5%,0);}
    50% {transform: translate3d(0, -10%,0);}
    75% {transform: translate3d(10%,-5%,0);}
    100% {transform: translate3d(0,0,0);}
}
.prize-blast{
    @extend %pa;
    @extend %w100;
    top: 0;
    height: j(440);
    background: url("../../assets/images/img_bg.png") no-repeat;
    background-size: contain;
}

.result{
    @extend %pr;
    @extend %df;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: j(20) auto;
    width: j(330);
    height: j(360);
    background: url("../../assets/images/bg_2.png") no-repeat;
    background-size: contain;
    span{
        @extend %db;
        margin-top: j(50);
        color: #FFAA05;
        font-size: j(48);
    }
    .text{
        @extend %db;
        @extend %tac;
        line-height: j(28);
        margin-top: 0;
        font-size: j(18);
        color: #FFAA05;
        width: j(134);
        height: j(28);
        background-color: #b43925;
        border-radius: j(28);
    }
}


.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}

@-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
