@import "../../assets/scss/_define";
@import "../../assets/scss/common";

body{
    min-height: j(480);
    background-color: #000;
}
.bg{
    background: url("../../assets/images/city.png") no-repeat bottom center;
    background-size: 150% auto;
}
.bg,
.canvas{
    @extend %pa;
    @extend %w100;
    @extend %h100;
    @extend %t0;
    @extend %l0;
}
.moon{
    @extend %pa;
    top: j(-100);
    right: j(-100);
    width: j(200);
    height: j(200);
    background: url("../../assets/images/moon.png") no-repeat center;
    background-size: contain;
    i{
        @extend %db;
        @extend %pa;
        @extend %t50;
        @extend %l50;
        margin-top: j(-90);
        margin-left: j(-90);
        width: j(180);
        height: j(180);
        border-radius: 50%;
        box-shadow: 0 0 j(300) j(20) #ffe925;
    }
}
.header{
    @extend %pr;
    @extend %df;
    flex-direction: column;
    align-items: center;
    padding-top: j(40);
}
.logo{
    @extend %db;
    width: j(156);
    height: j(63);
    background: url("../../assets/images/logo.png") no-repeat;
    background-size: contain;
}
.prompt{
    margin-top: j(16);
    font-size: j(14);
    color: #fff;
    strong{
        @extend %fwn;
        @extend %dib;
        margin: 0 j(5);
        font-size: j(16);
        color: #cc3346;
    }
}

.from-wrap{
    @extend %pr;
    margin-top: j(30);
}
.from-item{
    @extend %df;
    @extend %pr;
    align-items: center;
    height: j(50);
    //margin: 0 j(20);
    //border-bottom: 1px solid #f2f2f2;
    &:after{
        content: '';
        @extend %pa;
        bottom: 0;
        left: j(20);
        right: j(20);
        height: 1px;
        background-color: #f2f2f2;
    }
}
.from-label{
    @extend %bsb;
    font-size: j(16);
    color: #fff;
    width: j(100);
    padding-left: j(20);
}
.from-value{
    flex: 1;
    height: j(30);
    input{
        @extend %db;
        @extend %w100;
        @extend %h100;
        @extend %tar;
        @extend %bsb;
        border: none;
        font-size: j(16);
        color: #fff;
        padding-right: j(20);
        background-color: transparent;
    }
}
input::-webkit-input-placeholder{
    color:#DEDEDE;
}
.from-code{
    @extend %df;
    @extend %bsb;
    border: 1px solid #cc3346;
    width: j(70);
    height: j(36);
    border-radius: j(8);
    justify-content: center;
    align-items: center;
    background-color: #cc3346;
    margin-right: j(20);
    span{
        font-size: j(14);
        color: #fff;
    }
}
.from-code-disabled{
    border-color: #ddd;
    background-color: rgba(255,255,255,0.2);
    span{
        color: #999;
    }
}

.from-button{
    @extend %df;
    justify-content: center;
    align-items: center;
    margin: j(50) j(16) 0;
    background-color: #cc3346;
    border-radius: j(8);
    height: j(48);
    span{
        font-size: j(18);
        color: #fff;
    }
}

.footer{
    @extend %pa;
    @extend %df;
    align-items: center;
    left: 0;
    right: 0;
    bottom: j(40);
    justify-content: center;
    span,
    .icon{
        @extend %db;
    }
    span{
        font-size: j(12);
        color: #fff;
    }
}
.icon{
    width: j(50);
    height: j(20);
    background: url("../../assets/images/logo.png") no-repeat;
    background-size: contain;
    margin: 0 j(5);
}

.hidden{
    @extend %dn;
}

.prize-wrap {
    @extend %pr;
    margin: j(60) auto;
    width: j(200);
    height: j(200);
    background: url("../../assets/images/prize.png") no-repeat;
    background-size: contain;
    animation: 2s seconddiv infinite;
}
@keyframes seconddiv{
    0% {transform: scale(1);}
    10% {transform: scale(1.2);}
    25% {transform: scale(1);}
    35% {transform: scale(1.2);}
    50% {transform: scale(1);}
    100% {transform: scale(1);}
}
.result{
    @extend %pr;
    @extend %df;
    align-items: center;
    justify-content: center;
    margin: j(20) auto;
    width: j(200);
    height: j(281);
    //height: auto;
    background: url("../../assets/images/hb-prize.png") no-repeat;
    background-size: contain;
    span{
        @extend %db;
        margin-top: j(50);
        color: #fff;
        font-size: 36px;
    }
}
